.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 0.75rem 2.5rem;
    font-weight: var(--fw-semi-bold);
    border-radius: 0.5rem;
    transition: 0.3s;
}

.button:hover {
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}