.contact__input {
    width: 100%;
    font-size: var(--fs-md);
    font-weight: var(--fw-semi-bold);
    padding: 1rem;
    border-radius: .5rem;
    border: 1.5px solid var(--second-color);
    outline: none;
    margin-bottom: var(--space-4);
}

.contact__button {
    display: block;
    border: none;
    outline: none;
    font-size: var(--fs-md);
    cursor: pointer;
    margin-left: auto;
}