.home {
    position: relative;
    row-gap: 5rem;
    padding: 4rem 0 5rem;
}

.home__data {
    align-self: center;
}

.home__title {
    font-size: var(--fs-big);
    margin-bottom: var(--space-5);
}

.home__title-color {
    color: var(--first-color);
}

.home__social {
    display: flex;
    flex-direction: column;
}

.home__social-icon {
    width: max-content;
    margin-bottom: var(--space-2);
    font-size: 1.5rem;
    color: var(--second-color);
}

.home__social-icon:hover {
    color: var(--first-color);
}

.home__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 260px;
}

.home__blob {
    fill: var(--first-color);
}

.home__blob-img {
    width: 360px;
}